<h1>Dashboard</h1>
<ul>
  <li><%= link_to 'Muwashafat', 'javascript:void(0)' %></li>
  <li><%= link_to 'Yaumiyah', 'javascript:void(0)' %></li>
  <li><%= link_to 'Logout', logout_path, method: :delete %></li>
</ul>
